<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
<style>
.marked {
    text-decoration: line-through;
}

.main-list h2 {
	margin-top: 0.6em;
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 1em;
}

body {
	padding-top: 80px;
}

</style>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                Yampico
            </a>
            <ul class="nav">
                <li><a href="{% url dashboard.views.index %}">Dashboard</a></li>
                <li class="active"><a href="{% url lists.views.index %}">Lists</a></li>
                <li><a href="{% url dashboard.views.index %}">Accounting</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="span2">Test</div>
        <div class="span10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>